<mat-card class="example-card">
    <div id="header">
        <mat-card-header>
            <mat-card-title> Web Development</mat-card-title>
        </mat-card-header>
    </div>

    <img mat-card-image
        src="https://ares.decipherzone.com/blog-manager/uploads/banner_webp_bea99db8-7dba-41e7-941c-de4b61cc1650.webp"
        alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis voluptates praesentium assumenda ipsa eos ex
            neque cumque
            impedit temporibus! Officia cupiditate sapiente dolore eos officiis quibusdam labore unde modi laboriosam?
        </p>
    </mat-card-content>
    <div id="button">
        <mat-card-actions>
            <button mat-button mat-raised-button color="primary">Know More</button>
        </mat-card-actions>
    </div>
</mat-card>


