div{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px 10px 4px 4px;
    width: 800px;
    height: 300px;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    box-shadow: 2px 2px 4px 4px blue;

}
.example-card {
    max-width: 400px;
    border: 2px solid;
    text-align: center;
    margin: auto;
    margin-top: 40px;
  }