<mat-card class="example-card">
    <mat-card-title>! 404 Error Page not found</mat-card-title>
    <mat-card-content>
      <p>Please Enter Right URL</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      
      <button mat-raised-button color="primary"routerLink="/home">Home</button>
      <button mat-raised-button color="accent"routerLink="/login">Login</button>
    </mat-card-actions>
    <mat-card-footer>
       <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
