#formbox{
    border: 2px solid black;
    padding: 30px;
    margin: auto;
    text-align: center;
    width: 600px;
    min-height: 400px;
    margin-top: 29px;
    border-radius: 20px ;
    box-shadow: 3px 3px 4px 4px blue;
}
input{
    padding: 5px;
    margin: 10px;
}
label{
    font-weight: bold;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  button{
    margin: 20px;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
  }