<div class="card text-center" style="margin: 20px;">
    <div class="card-header">
        <!-- <b> Name:{{customerName}}</b> -->
        Payment Details
    </div>
    <div class="card-body">
        <table id="customers">
            <tr>
                <th>Sr.No.</th>
                <th>Product Name</th>
                <th> Quantity</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let customer of customerFinalData;let ind=index">
                <td><b>{{ind+1}}</b></td>
                <td><b>{{customer.title| uppercase}}</b></td>
                <td><b>{{customer.quantity}}</b></td>
                <td><b>{{customer.price|currency:'INR'}}</b></td>
            </tr>
            <tr>
                <td colspan="3"><b>Total Price</b></td>
                <td><b>{{customerOrderPrice | currency:'INR'}}</b></td>
            </tr>
        </table>
    </div>
    <div class="card-footer text-muted">
        <button mat-raised-button color="primary" style="margin: 10px;">
            Payment Ammount
        </button>
        <button mat-raised-button color="accent" style="margin: 10px;" routerLink="/card">
            Back to Cart
        </button>
    </div>
</div>