<div class="card text-center" style="margin: 20px;">
    <div class="card-header">
        <h1><strong>My Cart</strong> </h1>
    </div>
    <div class="card-body">
        <img src="https://image.shutterstock.com/image-vector/package-purchases-online-store-on-260nw-1554055838.jpg"
            alt="">
          <h1>Missing Cart items?</h1>
          <h4>Login to see the items you added previously</h4>

    </div>
    <div>
        <button mat-raised-button color="accent" style="margin: 10px;" routerLink="/shoppingPage">
            Shopping Page
        </button>
    </div>

</div>